@tailwind base;
@tailwind components;
@tailwind utilities;


/* html{
    font-size: 13px;
} */

section .react-tweet-theme{
    min-width: auto;
    --tweet-quoted-body-margin:0;
    --tweet-body-font-size: .9375rem;
    --tweet-body-line-height: 1.25rem;
    --tweet-container-margin: 0 0;
}
@media (max-width:640px) {
    [class*="tweet-actions"]{
        white-space:normal;
    }
}