@tailwind base;
@tailwind components;
@tailwind utilities;


/* html{
    font-size: 13px;
} */

section .react-tweet-theme{
    --tweet-quoted-body-margin:0;
    --tweet-body-font-size: .9375rem;
    --tweet-body-line-height: 1.25rem;
}